.about_content{
    overflow: hidden;
    border-radius: 5px;
}
.about_content .about_box {
    background: rgba(0, 0, 0, 0.85);
    height: 500px;
    color: white;
    border-radius: 10px;
    max-width: 800px;
    margin: 10% auto;
}
.about_box ul {
    max-width: 620px;
    margin: 0 auto;
}
.about_content ul li{
    float: left;
    margin-right: 0.5em;
    padding:1.5em;
    color: white;
}
.about_content ul li:hover{
    cursor: pointer;
    background: #17e7a4;
}
.active {
    background: #17e7a4;
}

.Head_portrait{
    width: 240px;
    height: 240px;
    margin: 0 auto;
}
.Head_portrait img{
    border: 10px solid #aee2d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.brief_introduction{
    margin-top: 20px;
    color: white;
    text-align: center;
}
.Job_time{
    margin-top:20px;
}
.Job_time .col-sm-4 {
    text-align: right;
}
.Job_time h1{
    font-size: 5rem;
    color: #17e7a4;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: .7;
}
.Job_time .position {
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.Job_time h4{
    line-height: 2rem;
}
/*项目*/

.xiangmu h1{
    margin-top: 25px;
    text-shadow: 1px 2px #080808, 2px 4px #586361;
    text-align: center;
}
.experience {
    margin-top: 20px;
}
.experience h1 {
    font-size: 1.5rem;
}
.experience h1 a{
    color: #17e7a4;
}

.experience h1 a:hover{
    text-decoration:underline;
}
.experience p{
    line-height: 1.5rem;
}
/*技能*/
.tag-panel {
    margin: 25px auto;
    text-align: center;
}
.tag {
    padding:8px;
    margin-right:10px;
    margin-bottom: 3px;
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    display: inline-block;
}
.about_expert{
    opacity: 1;
}
.about_familiar{
    opacity:0.8;
}
.about_Three{
    opacity:0.6;
}

/*教育*/
.jiaoyu h2,.jiaoyu h3{
    margin-top:20px;
    text-align: center;
    font-size: 1.1em;
    color: #eef3f0;
}
.jiaoyu h2 {
    margin-top: 10%;
    font-size: 1.25em;
}
.jiaoyu .jiaoyu_color{
    color: #aee2d9;
}

/*实习、供职*/
h1.xiangmu {
    margin-top: 15%;
    text-shadow: 1px 2px #080808, 2px 4px #586361;
    text-align: center;
}
.renzhi h3 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem;
}
.renzhi p {
    line-height: 60px;
    text-align: center;
    font-size: 1rem;
}


/*联系*/
.lianxi .xiangmu{
    margin-bottom: 10%;
}
.lianxi h2,.lianxi h3{
    margin-top:20px;
    text-align: center;
    font-size: 1.1em;
    color: #eef3f0;
}
.lianxi h2 a{
    color: #9f3;
    font-size: 2em;
}
.lianxi span{
    color: #008a75;
}
.contact-panel .bokeyuan {
    display: table;
    width: 34px;
    height: 34px;
    background: url(../images/favicon.ico)no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.contact-panel {
    margin-top: 20px;
}