<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
<!--<iframe src="pages/pdf.html" frameborder="0"></iframe>-->
<div class="col-sm-12 about_content">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 about_box">
        <ul>
            <!--<li ng-class="{ 'active' : data.current == 1 }" ng-click="actions.setCurrent(1)">简介</li>-->
            <li ng-class="{ 'active' : data.current == 2 }" ng-click="actions.setCurrent(2)">项目</li>
            <li ng-class="{ 'active' : data.current == 3 }" ng-click="actions.setCurrent(3)">技能</li>
            <li ng-class="{ 'active' : data.current == 4 }" ng-click="actions.setCurrent(4)">教育</li>
            <li ng-class="{ 'active' : data.current == 5 }" ng-click="actions.setCurrent(5)">实习</li>
            <li ng-class="{ 'active' : data.current == 6 }" ng-click="actions.setCurrent(6)">供职</li>
            <li ng-class="{ 'active' : data.current == 7 }" ng-click="actions.setCurrent(7)">联系</li>
        </ul>
        <!--介绍-->
        <!--<div ng-if="data.current == 1" class="col-sm-12">-->
            <!--<div class="Head_portrait">-->
                <!--<img src="images/Head_portrait.jpg"  alt="">-->
            <!--</div>-->
            <!--<div class="brief_introduction col-sm-12">-->
                <!--<h1>张诗宇</h1>-->
                <!--<p>一腔热血的激情 · 一夜失眠的创意 · 一个像素的执着</p>-->
                <!--<div class="col-sm-12 Job_time">-->
                    <!--<div class="col-sm-4">-->
                        <!--<h1>1.8</h1>-->
                    <!--</div>-->
                    <!--<div class="col-sm-6 position">-->
                        <!--<h4 style="color: white;font-size:1.3rem">年web前端经验</h4>-->
                        <!--<h4>现就职于成都某家科技有限公司</h4>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--项目-->
        <div ng-if="data.current == 1" class="col-sm-12">
            <div class="xiangmu"><h1>项目经验</h1></div>
            <div class="col-sm-12 experience">
                <div class="col-sm-6">
                    <h1><a href="">电商网站</a></h1>
                    <p>负责网站界面还原、node+mysql搭建数据进行页面交互</p>
                </div>
                <div class="col-sm-6">
                    <h1><a href="">滨州检务综合分析管理系统</a></h1>
                    <p>负责系统界面、ECharts图形、调用finereport自动生成表格和图形、</p>
                </div>
            </div>
            <div class="col-sm-12 experience">
                <div class="col-sm-6">
                    <h1><a href="">广元司法干预活动通报</a></h1>
                    <p>负责系统界面还原、处理IE6+浏览器的兼容性</p>
                </div>
                <div>
                    <h1><a href="">电子卷宗管理系统</a></h1>
                    <p>负责系统界面还原、页面交互</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>